<h1>Nathaly Caballero</h1>
  <h1>Entre a la carrera de Desarrollo de Sofware porque no tenia muy claro que seguir,pero tenia que escoger una carrera que me sea util en la 
  mayoria de trabajos,asi que me puse a investigar y me recomendaron esta carrera y la elegi, pero al final espero lograr graduarme y conseguir
  un trabajo estable para no defraudar a mi familia <h1>
 <h1>Salome Luzuriaga</h1>
 <h1>Yo elegi esta carrera porque me gusta mucho al principio no me interesaba pero comence a investigar y me 
  comence a interesar ya que me gusto mucho la tecnologia y como podemos ayudar con ella al mundo solo espero
  graduarme y hacer amo hacer </h1>